<div class='container'>
    <div class='chatbox'>
        <div class='chatbox__user-list' *ngIf="user">
            <h1>List of users and groups</h1>
            <mat-nav-list class="user-scrollbar">
                <mat-list-item *ngFor="let group of groups">
                    <div class='chatbox__user--active'>
                        <p (click)="getGroupMessages(group.group)">{{group.group.group_name}}</p>
                    </div>
                </mat-list-item>
                <button mat-stroked-button color="accent" style="width: 100%;"
                    (click)="openDialog()">Create New Group
                </button>
            </mat-nav-list>
        </div>

        <div *ngIf="selectedGroup && messages">
            <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                (scrolled)="onScroll()" [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false">
                <div class="chatbox__messages" *ngFor="let message of messages">
                    <div class="chatbox__messages__user-message">
                        <div class="chatbox__messages__user-message--ind-message">
                            <p class="name">{{message.sender}}</p>
                            <br />
                            <p class="message">{{message.message}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="messageForm" (keydown)="onSend($event)" class="message_form">
                <input type="text" class="form-control" formControlName="message" placeholder="Enter your message"
                    required>
            </form>
        </div>
    </div>
</div>